.table {
    text-align: center;
  height: 100vh;
}
.tableString {
    display: flex;
    align-items: center;
    }
.tableString>div{
    height: 80px;
    width: 140px;
    border-bottom: 2px solid #404040;
    }
.tableColumnTitle {
  display: flex;
  justify-content: space-evenly;
}


