.burger {
    display: flex;
    flex-direction: column;

}
.nav{
    display: flex;
    width:100%;
    justify-content: space-around;
    align-items: center;
    font-size: 20px
}
.NANav{
    display: flex;
    width:100%;
    justify-content: space-evenly;
    align-items: center;
    font-size: 20px
}