.nav {
    display: flex;
    width:100%;
    justify-content: space-around;
    align-items: center;
    font-size: 20px
}
.userName{
    margin: 10px;
    color: #e08821;
    font-weight: bold;

}
@media  screen and (max-width: 700px) {
    .nav {
        display: none;
    }
}