.nav {
    height: 110px;
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    font-size: 15px;
    position: absolute;
    right: 18%;
    top: 10px;
}

.positionBtn {
    position: absolute;
    right: 10px;
    top: 32px;
}
.burgerNav{

}
@media  screen and (min-width: 480px) {
    .burgerNav {
        display: none;
    }
}
@media  screen and (max-width: 360px) {
    .nav{
        font-size: 12px;
    }
}