body {
  margin: 10px;
  font-family: 'Marcellus SC', 'sans-serif';
  font-size: 15px;
  line-height: 1.7;
  color:white;
  background-color: #0e0e0e;

}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Marcellus SC';
    font-weight: 600;
    margin: 20px;
    line-height: 1.2;
    color: white;
}
a {
  font-family: 'Marcellus SC';
  color: white;
  text-decoration: none;
  font-weight: 600;
}
a:hover {
  color:#e08821;
 
}


@media  screen and (max-width: 770px) {
  body{font-size: 14px;
    line-height: 1.6;}
  h1, h2, h3, h4, h5, h6{
    margin: 14px;
    font-weight: 300;
    margin: 15px;
    }
  a {
   font-weight: 500;
  }
}
@media  screen and (max-width: 480px) {
  body{font-size: 12px;
    line-height: 1.5;}
  h1, h2, h3, h4, h5, h6{
    margin: 13px;
    font-weight: 200;
      }
  a {
    font-weight: 500;
  }
}
@media  screen and (max-width: 360px) {
  body{font-size: 10px;
    line-height: 1.4;}
  h1, h2, h3, h4, h5, h6{
    margin: 4px;
    font-weight: 200;
     }
  a {
    font-weight: 400;
  }
}